<!DOCTYPE html>
<html>
<head>
  <title>RSVP</title>
  <style type="text/css">
    #updateForm{
      display: none;
      height: 0;
      animation: 2s all;
    }
    #updateForm.active{
      display: inline-block;
      height: auto;
    }
  </style>
</head>
<body>
  <input type="text" name="ID" id="rsvpCode" placeholder="RSVP CODE">
  <button onclick='findEntry()'>FIND</button>
  <div id="response"></div>
  <div id="updateForm">
    <label for="numAttending">Number Attending:
      <select id="guestNumber">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </label>
    <input type="text" placeholder="REQUEST A SONG" id="songRequest">
    <button onclick="updateEntry()">SUBMIT</button>
  </div>
  <script type="text/javascript">
    var resultObj;
    function lookupResponse(){
      resultObj = JSON.parse(this.responseText).results[0];
      document.getElementById("response").innerHTML = "found reservation for: "+resultObj.name;
      document.getElementById("updateForm").className = 'active';
    }
    function findEntry(){
      var id = document.getElementById("rsvpCode").value 
      var req = new XMLHttpRequest();
      req.addEventListener('load', lookupResponse)
      req.open('GET', '/find/'+id);
      req.send();
    }
    function updateEntry(){
      var num = document.getElementById("guestNumber");
      var guestVal = num.options[num.selectedIndex].value;
      var body = {
        attending:true,
        guests:guestVal,
        request:document.getElementById("songRequest").value,
        invite_id:"01432"
      }
      var req = new XMLHttpRequest();
      req.addEventListener('load', function(){
        console.log(this.responseText);
        document.getElementById("response").innerHTML = "Thanks for updating!";
        document.getElementById("updateForm").classList.remove("active");
      });
      req.open('POST', '/update', true);
      req.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      req.send(JSON.stringify(body));
    } 
  </script>
</body>
</html>